@model LoginVM

@{
    Layout = "_LayoutLogin";
}


<div class="flex min-h-full flex-1 flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl leading-9 font-bold tracking-tight text-gray-900">
            Iniciar Sesión
        </h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        @if (TempData["SuccessMessage"] is string successMessage)
        {
            <div class="mb-4 rounded-md bg-green-50 p-3 text-sm text-green-700 ring-1 ring-green-200">
                @successMessage
            </div>
        }
        <form asp-action="Login" asp-controller="Account" method="post" class="space-y-6">
            <div>
                <label asp-for="Email"
                       class="block text-sm leading-6 font-medium text-gray-900">
                    Correo
                </label>
                <div class="mt-2">
                    <input id="email"
                           type="text"
                           asp-for="Email"
                           autoComplete="email"
                           class="block w-full rounded-md border-0 px-2
                    py-1.5 text-gray-900 shadow-sm ring-1 ring-gray-300
                    ring-inset placeholder:text-gray-400 focus:ring-2
                    focus:ring-blue-600 focus:outline-none focus:ring-inset
                    sm:text-sm sm:leading-6"
                           />
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label asp-for="Password"
                           class="block text-sm leading-6 font-medium text-gray-900">
                        Contraseña
                    </label>
                    <div class="text-sm">
                        <a href="#"
                           class="font-semibold text-blue-600 hover:text-blue-500">
                            Olvidaste tu contraseña?
                        </a>
                    </div>
                </div>
                <div class="mt-2">
                    <input id="password"
                           type="password"
                           asp-for="Password"
                           autoComplete="current-password"
                           class="block w-full rounded-md border-0 px-2
                    py-1.5 text-gray-900 shadow-sm ring-1 ring-gray-300
                     ring-inset placeholder:text-gray-400 focus:ring-2
                     focus:ring-blue-600 focus:outline-none focus:ring-inset
                     sm:text-sm sm:leading-6"
                           />
                </div>
            </div>
            

            @Html.ValidationSummary(true, "", new { @class = "text-red-500" })

            <div class="flex items-center justify-between">
                <div class="flex items-start">
                    <div class="flex h-5 items-center">
                        <input id="RememberMe" aria-describedby="remember" asp-for="RememberMe" type="checkbox" class="h-4 w-4 rounded border border-gray-300 bg-gray-50 focus:ring-primary-300 focus:ring-3 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600">
                    </div>
                    <div class="ml-3 text-sm">
                        <label asp-for="RememberMe">Recordar</label>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit"
                        class="shadow-s flex w-full justify-center rounded-md bg-blue-700 px-3 py-1.5 text-sm leading-6 font-semibold text-white hover:bg-blue-800
                   focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                    Ingresar
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            No tienes una cuenta? 
            <a asp-controller="Account" asp-action="Register"
               class="leading-6 font-semibold text-blue-600 hover:text-blue-500">
                Registrarme
            </a>
        </p>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}