<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NexoDocs SCM</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body class="app-shell mx-auto min-h-screen max-w-7xl antialiased">
    <header>
        <partial name="_Navbar"/>
    </header>

    <div class="mx-8 flex flex-col pb-10">
        <main>
            @RenderBody()
        </main>
    </div>

    <partial name="_OnboardingChatbot" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
